<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canka.bootstepview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTask"
            android:name=".AddBankActivity"
            android:theme="@style/MyStyle"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddBankMessageActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/MyStyle"
            />
        <activity android:name=".AddBankVerificationActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/MyStyle"
            />
    </application>

</manifest>